*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0, 0%);
}

body{
    background-color: black;
}

.header{
    text-align: center;
    font-size: 36px;
    padding: 15px;
    color: #fff;
}

.main-container{
    display: grid;
    grid-template: 1fr 15fr / 100%;
    height: 90vh;
}

.project-list{
    display: flex;
    font-size: 16px;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-list-item{
    flex: 1 1 auto;
    padding: 12px 0 0 0;
    background-color: rgb(0, 0, 0, 0%);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.todo-container{
    display: grid;
    grid-template-columns: minmax(110px, 1fr) 4fr;
    grid-template-rows: 100%;
    padding: 10px;
    gap: 10px;
    color: #fff;
    font-size: 20px;
}

.todo-list{
    display: grid;
    grid-template: repeat(auto-fit, clamp(50px, 8vh, 4em)) / 1fr;
    gap: 10px;
}

.todo-list-item{
    padding: 15px 0px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0%);
    font-size: 16px;
}

.todo-list-item.active, .project-list-item.active{
    background-color: #333;
}

.todo-description{
    display: grid;
    grid-template: 95% 5% / 1fr 1fr;
    grid-template-areas: 
        "description-text description-text"
        "edit-button delete-button";
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 20px 10px 30px;
}

.description-text{
    grid-area: description-text;
}

.edit-button{
    grid-area: edit-button;
    width: 25px;
    height: 25px;
    border: none;
}

.delete-button{
    grid-area: delete-button;
    margin-left: auto;
    width: 25px;
    height: 25px;
    border: none;
}

path{
    fill: #ccc;
}

.todo-edit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(300px, 40%);
    border: 1px solid black;
    box-shadow: 0 0 10vw 30vw rgb(0, 0, 0, 40%);
    color: #fff;
    background-color: #222;
    visibility: hidden;
    padding: 0 20px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr 1fr 1fr/ 2fr 3fr;
    grid-template-areas: 
        "edit-property select-input"
        "edit-content edit-content"
        "textarea-input textarea-input"
        "edit-submit edit-submit";
    font-size: 20px;
}

.edit-property{
    grid-area: edit-property;
}

select{
    grid-area: select-input;
    height: 30px;
    color: #fff;
    font-size: 16px;
    padding-left: 5px;
}

.edit-content{
    grid-area: edit-content;
}

.edit-textarea{
    grid-area: textarea-input;
    padding: 5px;
    font-size: 16px;
    color: #fff;
}

.edit-submit{
    grid-area: edit-submit;
    color: white;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    background-color: #333;
}

.edit-close{
    position: absolute;
    border-top-right-radius: 5px;
    color: #ccc;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
}

.todo-add{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: max(300px, 40%);
    box-shadow: 0 0 10vw 30vw rgb(0, 0, 0, 40%);
    color: #fff;
    background-color: #222;
    visibility: hidden;
    padding: 5px 15px 5px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr 1fr 3fr 1fr/ 1fr;
    grid-template-areas: 
        "add-title"
        "add-title-input"
        "add-description"
        "add-textarea"
        "add-submit";
    font-size: 20px;
}

.add-title{
    grid-area: add-title;
}

.add-title-input{
    grid-area: add-title-input;
    height: 30px;
    border: 1.5px solid #888;
    padding-left: 5px;
    color: #fff;
}

.add-description{
    grid-area: add-description;
}

.add-textarea{
    grid-area: add-textarea;
    padding: 5px;
    font-size: 16px;
    border: 1.5px solid #888;
    color: #fff;
}

.add-close{
    position: absolute;
    border-top-right-radius: 5px;
    color: #ccc;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
}

.add-submit{
    grid-area: add-submit;
    color: white;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    background-color: #333;
}

::placeholder{
    color: #ccc;
}